{% extends "base.html" %}
{% from "_formhelpers.html" import render_field as render_field %}

{% block title %}
    contact
{% endblock %}

{% block html_head %}

<link rel="stylesheet" type="text/css" media="screen" href="/static/css/sections.css"/>

<script type="text/javascript">

function markCurrentEntry() {
    $("#entry_{{ page_name }}").addClass("current");
}

$(document).ready( function() { markCurrentEntry(); } );
</script>

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section contact">
	<h1>Vous souhaitez nous contacter ?</h1>
	{#
	{% ifnotequal errmsg None %}
		<div class="error">{{ errmsg }}</div>
	{% endifnotequal %}
	{% ifnotequal msgok None %}
		<div class="info">Le message a bien été envoyé.</div>
	{% endifnotequal %}
	#}
	<form method="post">
	    <fieldset>
		{{ form.hidden_tag() }}
		{{ render_field(form.email) }}
		{{ render_field(form.message) }}
		<input type="submit" value="Envoyer le message" />
	</form>
	<div>
	    {% include "includes/flash_message.html" %}

	</div>
</div>

{% endblock %}{# content #}

{% block sidebar %}

<div class="sidebar-section">
  <div class="title">Contact</div>
  <ul class="list">
    <li id="entry_contact"><a href="{{ url_for('contact') }}">Contactez-Nous</li>
  </ul>
</div>





{% endblock %}{# sidebar #}





