{% extends "about/about.html" %}

{% block html_title %}
<title>AFCP bureau 2014</title>
{% endblock %}{# html_title #}


{% block content %}

<div class="section contact">
	<h1>AFCP bureau 2014</h1>
	
	<table>
		<tr>
			<th>姓名</th>
			<th>职务</th>
			<th>Nom</th>
			<th>Titre</th>
		</tr>
		<tr>
			<td>章楠</td>
			<td>主席</td>
			<td>Zhang Nan</td>
			<td>Président</td>
		</tr>
		<tr>
			<td>雨果</td>
			<td>法方副主席</td>
			<td>PHILIPPART Ugo</td>
			<td>Vice-président</td>
		</tr>
		<tr>
			<td>朱琪</td>
			<td>中方副主席</td>
			<td>ZHU Qi</td>
			<td>Vice-président</td>
		</tr>
		<tr>
			<td>陈铖</td>
			<td>中方副主席</td>
			<td>CHEN Cheng</td>
			<td>Vice-président</td>
		</tr>
		<tr>
			<td>官鹏</td>
			<td>秘书长</td>
			<td>GUAN Peng</td>
			<td>Secrétaire Général</td>
		</tr>
		<tr>
			<td>高润</td>
			<td>财务长</td>
			<td>GAO Run</td>
			<td>Trésorier</td>
		</tr>
		<tr>
			<td>邓垦</td>
			<td>副财务长</td>
			<td>DENG Ken</td>
			<td>Trésorier adjoint</td>
		</tr>
		<tr>
			<td>Laurent ERIGNOUX</td>
			<td>中法交流部负责人</td>
			<td>Laurent ERIGNOUX</td>
			<td>Conseiller culturel franco-chinois</td>
		</tr>
		<tr>
			<td>曾志舟</td>
			<td>中法交流部负责人</td>
			<td>ZENG Zhizhou</td>
			<td>Conseiller culturel franco-chinois</td>
		</tr>
		<tr>
			<td>张翼</td>
			<td>中法交流部负责人</td>
			<td>ZHANG Yi</td>
			<td>Conseiller culturel franco-chinois</td>
		</tr>		
		<tr>
			<td>Julien LEGRAND</td>
			<td>调研部</td>
			<td>Julien LEGRAND</td>
			<td>Responsable de la recherche</td>
		</tr>			
		<tr>
			<td>陆天明</td>
			<td>IT部负责人</td>
			<td>LU Tianming</td>
			<td>Responsable IT</td>
		</tr>
		<tr>
			<td>朱瞳</td>
			<td>企业部负责人</td>
			<td>ZHU Tong</td>
			<td>Responsable de la relation avec les entreprises</td>
		</tr>
		<tr>
			<td>刘彦熙</td>
			<td>企业部负责人</td>
			<td>LIU Yanxi</td>
			<td>Responsable de la relation avec les entreprises</td>
		</tr>		
		<tr>
			<td>钱翔隽</td>
			<td>校友部负责人</td>
			<td>QIAN Xiangjun</td>
			<td>Responsable du pôle Alumni</td>
		</tr>
		<tr>
			<td>黄轶鑫</td>
			<td>文娱部负责人</td>
			<td>HUANG Yixin</td>
			<td>Responsable culturel</td>
		</tr>
	</table>
</div>



{% endblock %}{# content #}


