{% extends "amusement/amusement.html" %}

{% block title %}Gala de la Lune{% endblock %}

{% block html_head %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/sections.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ static_ }}/stylesheets/gala.css"/>

{% endblock %}{# html_head #}

{#------------------------------------------------------------------------------------------------#}

{% block header %}
{% endblock %}{# header #}

{#------------------------------------------------------------------------------------------------#}

{% block content %}

<div class="section">

	<h1>Gala de la Lune</h1>

	<a target="_blank" title="报名 - Cliquez pour vous inscrire"
		href="http://www.jotformeu.com/form/52504218544350">
	    <img alt="affiche du Gala de la Lune"
		    src="/static/doc/gala/gala2015_1.jpg"
		    width="670px"
	    />
	</a>
	<a target="_blank" title="报名 - Cliquez pour vous inscrire"
		href="http://www.jotformeu.com/form/52504218544350">
	    <img alt="affiche du Gala de la Lune"
		    src="/static/doc/gala/gala2015.jpg"
		    width="670px"
	    />
	</a>

	<!--
	<p>
		<a class="greater" href="#vfr">Version française ci-dessous - cliquez ici pour y accéder</a>
	</p>
	-->

	<h2>
	  2015 AFCP巴黎高科中法友好协会年度大型晚会 <br />
	  Gala de la lune 2015 <br />
	</h2>

	<p>
	中秋将至，你的脑海里是否会想起那些伴随我们长大的神话传说——“金乌长飞玉兔走”的光阴易逝，“嫦娥应悔偷灵药”的孤寂冷清，“斫却桂树月更明”的无休无止？
	</p>

	<p>
	提到香街，你脑海里是否会回响起“Aux Champs-Elysées, aux Champs-Elysées. Au soleil, sous la pluie, à midi ou à minuit. Il y a tout ce que vous voulez aux Champs-Elysée.” 的旋律？你脑海中的香街景色是否总是那般繁华与绚丽？
	</p>

	<p>
	    可是，你是否想过当中华传统节日与法国地标长街相结合，两者会擦出怎样的火花？
	</p>
	<p>
	    那么，不论您是初到法国的小鲜肉还是在法兰西打拼多年的老江湖，诚邀您参加由AFCP（Association Amicale Franco-Chinoise de ParisTech）主办，上海交通大学、同济大学和浙江大学的校友会（复数）协办的<font color="red">“香街之约”中秋晚宴——Gala de la Lune, l’ Une de Paris</font> ，一起在灯火辉煌的香街共度金秋佳节，共进丰盛晚餐，共赏精彩节目，让团圆之日不再寂寞。今年八月十五夜，待月举杯聚香街。
	</p>

	<p>
	    <strong>
		时间：9月26日（周六）晚八点入场，八点半正式开始。 <br/>
		地址：香榭丽舍大街的Marriott 五星酒店（具体地址：Marriott, 70 Av. Des Champs-Élysées, 75008 Paris）。<br/>
		入场费：每人30欧。 <br/>
		报名于9月23日截止，名额有限，先到先得哦。		<br/>
		报名缴费链接如下： <br/>
		<a href="http://www.jotformeu.com/form/52504218544350">http://www.jotformeu.com/form/52504218544350</a>
	    </strong>
	</p>
	<p>
	    晚会分为两个部分，第一部分为冷餐会和精心编排的节目表演，感受中国传统与法国文化碰撞的火花；第二部分为热情洋溢的大型聚会，现场更有专业乐队和DJ一起high翻全场。
	</p>
	<p>
	    佳节又逢，异乡为客，千里共婵娟；举头望月，举杯邀月，月华满香街。今年中秋之夜，让我们共聚“香街之约”，举杯畅谈，不见不散。
	</p>
	<!-- <p>
		报报报...报告<strong>大王</strong>！！！
	</p>

	<p>今年的Gala de la lune又更新啦！！！</p> -->



	<!--
	<p>
	  如有任何问题，可予本庄主飞鸽传书，飞鸽编号：<a href="mailto:beyondhyx@gmail.com">beyondhyx@gmail.com</a>
	</p>
	<p>

		本次活动解释权归AFCP所有，如有疑问请发送邮件联系
		flyzhangyi@gmail.com
	</p>
	-->

	<!--
	<p>
	<hr />
	<h3 id="vfr">Version française</h3>

	<p>Nous vous invitons à notre grande soirée biculturelle ouverte à
		tous :</p>

	<h2>Gala de la Lune 2014</h2>

	<p>
	  le vendredi 10 octobre 2014 à partir de 20h15, à la mainson des Arts et Métiers de Cité Universitaire
	</p>

	<p>
	  Cet événement est chaque année l'occasion rêvée pour venir découvrir la culture chinoise en célébrant ensemble l'arrivé de l'autome.
	</p>
	<p>
	  Du spectacle, de la bonne chère, et une attractive loterie !
	  Première partie de soirée : Spectacle, Animations Traditionnelles et Loterie
	  Seconde partie de soirée : Party !
	</p>
	<p>
	  <strong>
	    Premier prix : IPAD MINI <br />
	    Deuxième prix : POLAROID <br />
	    Troisième prix : CHEAUES DE VOYAGE (6 lots) <br />
	  </strong>
	</p>
	<p>
	  Si tu es intéressé par la Chine, cette soirée a été pensée pour toi ! N'hésite pas à faire tourner l'invitation !
	</p>
	<p>
	  Détails techniques : <br />
	  <strong>
	  Horaire : Vendredi 10 octobre à partir de 20h15 <br />

	  Adresse : Maison des Arts et Métiers à la Cité Universitaire,
            1 avenue Pierre MASSE-75014,Paris  (proche ERE B Cité Universitaire)  <br />
	    </strong>
	</p>

	<div style="color: red; font-weight: bold;"><p>Prix d'entrée : <br/>
	  10€ Achat groupé en ligne (à partir de 5 personnes):inculant une photo de Polaroid <br />
	  12€ Si inscription en ligne (vous pouvez payer sur place) : incluant une photo de Polaroid <br />
          <a href="http://form.jotformpro.com/form/42743010211941">Achat en ligne</a> <br />
	  12€ Sur place <br />
	  (incl. 1boisson, des snacks et 1 ticket loterie)
	</p></div>



	<p>En cas de question, contacter : <a href="mailto:beyondhyx@gmail.com">beyondhyx@gmail.com</a></p>
	-->

</div>

{% endblock %}{# sidebar_and_content #}
